HypernymExtractor/target
Core/target
LHDNormalizer/target
LHDOntologyCleanup/target
LHDTypeInferrer/target
target
utils
data/**/*.nt
data/**/*.owl
data/**/*.zip
data/**/*.gz
data/index/*
data/output/*
data/output_nl/*
data/output_de/*
data/output_en/*
**/nb-configuration.xml
**/nbactions.xml
.svn
utils.tar.gz
.idea
*.iml
*.log