HypernymExtractor/target
Core/target
LHDNormalizer/target
LHDOntologyCleanup/target
LHDTypeInferrer/target
target
utils
data/**/*.nt
data/**/*.owl
data/index/*
**/nb-configuration.xml
**/nbactions.xml
.svn