HypernymExtractor/target
Core/target
LHDNormalizer/target
LHDOntologyCleanup/target
LHDTypeInferrer/target
target
utils
data/**/*.nt
data/**/*.owl
data/**/*.zip
data/**/*.gz
data/index/*
data/output/*
**/nb-configuration.xml
**/nbactions.xml
.svn
utils.tar.gz